<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app ng-init="userName='zhousujuan'">
    <!-- 
        1.数据绑定：数据从一个地方A转移（传递）到另一个地方B,而且这个操作由框架来完成
        2.双向数据绑定：数据可以从View（视图层）流向Model（模型），也可以从Model流向View
             视图（View）：也就是我们的页面（主要是Angular指令和表达式）
             模型（Model）：作用域对象（当前为$rootScope）,他可以包含一些属性或方法
             当改变view中的数据，Model对象的对应属性也会随之改变：ng-model指令  数据从View==》Model
             当Model域对象的属性发生改变时，页面对应数据随之更新：{{}}表达式  数据从Model==》View
             ng-model是双向数据绑定，而{{}}是单向数据绑定
        3.ng-init 用来初始化当前作用域变量
     -->

     <input type="text" ng-model="userName" > 
     <p>姓名1：{{userName}}</p>

     <input type="text" ng-model="userName"> 
     <p>姓名2：{{userName}}</p>

    <!-- 引入angularjs -->
    <script type="text/javascript" src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    
</body>
</html>