<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_watch实现</title>
    <!-- 引入vue -->
    <script src="../vue.js"></script>
</head>
<body>
    <!-- 
        computed和watch的区别:
            1.computed能完成的功能，watch都能完成
            2.watch能完成的功能，computed不一定能完成，例如：watch可以进行一步操作
        两个重要的小原则：
            1.所有vue管理的函数，最好写成普通函数，这样this的指向才是vm 或 组件实例对象
            2.所有不被vue管理的函数（定时器的回调函数，ajax的回调函数，promise的回调函数等），最好写成箭头函数
            这样this的指向才是vm 或 组件的实例对象。
     -->
    <!-- 准备好一个body -->
    <div id="root">
        姓： <input type="text" v-model="firstName"><br/><br/>
        名： <input type="text" v-model="lastName"><br/><br/>
        全名：<span>{{ fullName }}</span><br/><br/>
        <span>{{a}}</span>
    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false //阻止VUE在启动时生成生产提示

    const vm = new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三',
            fullName: '张-三',
            x: 1,
            y: 2
        },
        computed: {
            a() {
                return this.x + this.y
            }
        },
        watch: {
            firstName(newValue) {
                /*
                不是说vue的管理的函数，不能用箭头函数吗？
                这里的定时器函数，为什么可以用箭头函数？
                这里的setTimeout函数确实在vue的管理的fullName函数里面开启的
                但是定时器所指定的回调，是不受vue控制的，
                那是谁控制的？
                ==》是浏览器定时器管理模块控制的
                最后定时器到点了，也是JS引擎帮忙调的
                所以，在在这里，我们一定要注意，这个setTimeout函数的回调函数，并不是vue管理的
                说白了，定时器到点了，并不是vue帮忙调的回调函数
                注意：像这种地方，我们就一定要写成箭头函数
                如果，这里我们写成的是普通函数
                setTimeout(function() {
                    this.fullName = newValue + '-' + this.lastName;
                }, 1000)
                这里面的this的指向，就会指向window而不是我们的vue实例
                为什么是window？
                因为定时器的回调是我们的JS引擎帮忙调用的
                在帮我们调用的时候，已经指定好这个this指向的就是我们的window

                那如果，我这里不是普通函数，而是箭头函数，那么这还是js引擎帮忙调用的
                但是，我们这里写成了箭头函数， 这里没有自己的this
                没有自己的this这里就会默认往外去找，就找到fullName这个函数的this，
                而我们这个fullName这个韩式，是vue管理的函数，而且是普通函数，所以this的指向是vue
                */
                setTimeout(() => {
                    this.fullName = newValue + '-' + this.lastName;
                }, 1000)
            },
            lastName(newValue) {
                this.fullName = this.firstName + '-' + newValue;
            }

        }
    })
</script>
</html>